@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  font-size: 35px;
  color: white;
}
h1{
  color: white;
  font-family: "Poppins", sans-serif;
}
.winnermessage{
  font-size: 20px;
}